html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1218px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

/* Action Section */

.action-section{
  padding-top: 120px;
  padding-bottom: 173px;
  background-color: #F2F4F7;
}

.action-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Link Styles */

.discounts-link{
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 10px;
  width: 120px;
  height: 120px;
  text-decoration: none;
}

.discounts-link:last-child{
  margin-right: 0;
}

/* Logo Styles */

.discounts-logo{
  width: 120px;
  height: 120px;
}

/* Heading Styles */

.discounts-heading{
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 29px;
  margin: 0;
  background-color: #fff;
}

.discounts-heading span{
  display: block;
  padding: 10px 17px;
  margin-bottom: -20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
}

.discounts-heading::before{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #F2F4F7;
  border-radius: 50%;
  content: "";
}

.discounts-heading::after{
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  transform: translate(50%, 0);
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #F2F4F7;
  border-radius: 50%;
  content: "";
}

.discounts-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discounts,
.discounts-inner,
.bank-discounts{
  display: flex;
  align-items: center;
  padding: 19px;
  background-color: #FFFFFF;
  border-radius: 79px;
}

.coupon-discounts{
  display: flex;
  margin: 60px 0;
  align-items: center;
}

.discounts-wrapper-margin{
  margin-right: 40px;
}

.discount-numbers{
  position: absolute;
  right: 0;
  top: -8%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  background-color: #000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border-radius: 50%;
}

/* Site footer */

.site-footer{
  padding: 40px 135px;
  background-color: #fff;
}